<div *ngIf="resetLink">Check mail for the link!</div>
<form #loginForm="ngForm">
  <img src="https://www.google-melange.com/archive/gci/2014/orgs/mifos/logo-200.png" alt="No Image found">
  <mat-form-field class="font-style">
    <input [(ngModel)]="username" name="username" required matInput placeholder="Username">
  </mat-form-field>
  <button class="font-style" type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary"
    (click)="onResetLink()">Send Reset Link</button>
  <button class="font-style" mat-stroked-button color="accent" (click)="onGoBackToLogin()">Go back to Login</button>
</form>
