<mat-tab-group>
  <mat-tab label="Savings Accounts">
    <div>
      <online-banking-savings-accounts-list [savingsAccounts]="savingsAccounts"></online-banking-savings-accounts-list>
    </div>
  </mat-tab>
  <mat-tab label="Loan Accounts">
    <div>
      <online-banking-loan-accounts-list [loanAccounts]="loanAccounts"></online-banking-loan-accounts-list>
    </div>
  </mat-tab>
  <mat-tab label="Share Accounts">
    <div>
      <online-banking-share-accounts-list [shareAccounts]="shareAccounts"></online-banking-share-accounts-list>
    </div>
  </mat-tab>
</mat-tab-group>

