<div class="container">
  <div fxLayout="row" class="filter-box">
    <mat-form-field fxFlex>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>


      <ng-container matColumnDef="accountNo">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Account No.</th>
        <td mat-cell *matCellDef="let account">{{account.accountNo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let account">{{account.status.value}}
        </td>
      </ng-container>

      <ng-container matColumnDef="originalLoan">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Original Loan</th>
        <td mat-cell *matCellDef="let account">{{account.originalLoan}}
        </td>
      </ng-container>

      <ng-container matColumnDef="loanBalance">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Loan Balance</th>
        <td mat-cell *matCellDef="let account">{{account.loanBalance}}
        </td>
      </ng-container>

      <ng-container matColumnDef="amountPaid">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Amount Paid</th>
        <td mat-cell *matCellDef="let account">{{account.amountPaid}}
        </td>
      </ng-container>

      <ng-container matColumnDef="loanType">
        <th mat-header-cell *matHeaderCellDef Def mat-sort-header>Loan Type</th>
        <td mat-cell *matCellDef="let account">{{account.shortProductName}}({{account.productName}})
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 200]" showFirstLastButtons></mat-paginator>
  </div>


</div>
