<div class="m-toolbar">
<mat-toolbar fxLayout="row" color="primary" id="online-banking-toolbar">

  <button mat-icon-button *ngIf="!sidenavCollapsed" (click)="toggleSidenav()" matTooltip="Toggle Hide/Open">
    <fa-icon icon="bars" size="lg" ></fa-icon>
  </button>
  <button mat-icon-button *ngIf="true" (click)="toggleSidenavCollapse()" matTooltip="Toggle Collapse" fxHide.lt-md="true">
    <fa-icon *ngIf="!sidenavCollapsed" icon="chevron-left"></fa-icon>
    <fa-icon *ngIf="sidenavCollapsed" icon="chevron-right"></fa-icon>
  </button>

  <span fxFlex="auto"></span>

  <button mat-icon-button class="ml-1 img-button" [matMenuTriggerFor]="applicationMenu">
    <img src="./assets/images/user_placeholder.png">
  </button>
</mat-toolbar>

<mat-menu #applicationMenu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="after">
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>
      <fa-icon icon="sign-out-alt" size="sm"></fa-icon>
    </mat-icon>
    <span>Sign Out</span>
  </button>
</mat-menu>
</div>
