<div fxLayout="row" fxLayout.xs="column">
  
  <div>
    <mat-spinner *ngIf="loading" ></mat-spinner>
  </div>

  <div fxFlex="65%" fxLayout="column" class="cover" fxHide.xs>
    <div class="cover-content">
      <h1 class="md-display-1 cover-title">Online Banking</h1>
      <p class="md-headline">
        Online Banking is designed by the Mifos Initiative - a global community that aims to speed-up the elimination of poverty by enabling organizations to more effectively and efficiently deliver responsible financial services to the world’s poor and unbanked.
      </p>
    </div>
  </div>

  <div fxFlex="35%" fxLayout="column" class="login-container">
    <div>
      <img src="./assets/images/MifosX_logo.png" alt="mifos-logo"/>
    </div>
    <div class="mat-dialog-title login-text" style="text-align: center; margin-bottom: 20px;">
      Reset your password
    </div>

    <div style="width: 100%; padding: 0 10%; box-sizing: border-box;">
      <!-- Step 1: Request Form -->
      <form *ngIf="!isRenewStep" fxLayout="column" [formGroup]="requestForm" (ngSubmit)="submitRequest()">
        <p style="text-align: center; margin-bottom: 20px;">Enter your username to receive a password reset token.</p>
        
        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Username</mat-label>
          <span matPrefix>
            <fa-icon icon="user-circle" size="lg"></fa-icon>&nbsp;&nbsp;
          </span>
          <input matInput formControlName="username" required (input)="requestError = null">
        </mat-form-field>

        <div *ngIf="requestError" class="error-banner">
          <i class="fa fa-exclamation-circle"></i>
          <span>{{ requestError }}</span>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="requestForm.invalid || loading" class="login-button login-text" style="width: 100%; margin-top: 15px;">
          Send Reset Token
        </button>

        <div fxLayoutAlign="center center" style="margin-top: 20px; text-align: center;">
          <a href="javascript:void(0)" (click)="cancel()" style="color: #4a90e2; text-decoration: none; font-weight: 500;">Back to Login</a>
        </div>
      </form>

      <!-- Step 2: Renew Form -->
      <form *ngIf="isRenewStep" fxLayout="column" [formGroup]="renewForm" (ngSubmit)="submitRenew()">
        <p style="text-align: center; color: green; margin-bottom: 15px;">Reset token sent! Please enter it below.</p>
        
        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Verification Token</mat-label>
          <input matInput formControlName="authenticationToken" required (input)="renewError = null">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>New Password</mat-label>
          <span matPrefix>
            <fa-icon icon="lock" size="lg"></fa-icon>&nbsp;&nbsp;
          </span>
          <input matInput type="password" formControlName="password" required (input)="renewError = null">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Confirm New Password</mat-label>
          <span matPrefix>
            <fa-icon icon="lock" size="lg"></fa-icon>&nbsp;&nbsp;
          </span>
          <input matInput type="password" formControlName="repeatPassword" required (input)="renewError = null">
        </mat-form-field>

        <div *ngIf="renewError" class="error-banner">
          <i class="fa fa-exclamation-circle"></i>
          <span>{{ renewError }}</span>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="renewForm.invalid || loading" class="login-button login-text" style="width: 100%; margin-top: 15px;">
          Update Password
        </button>

        <div fxLayoutAlign="center center" style="margin-top: 20px; text-align: center;">
          <a href="javascript:void(0)" (click)="cancel()" style="color: #4a90e2; text-decoration: none; font-weight: 500;">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
