<ngx-spinner bdOpacity=0.2 bdColor="rgba(0,0,0,0.83)" size="large" color="#0083e6" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
</ngx-spinner>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar id="header-background" class="example-toolbar shadow" *ngIf="show">
    <button *ngIf="menuIconShow" mat-icon-button (click)="toggleSideNav()"><img width="25px" height="25px"
        src="../assets/images/menu.png" alt=""></button>
    <img data-aos="fade-left" src="../assets/images/mifos-navbar-logo.png" data-aos="fade-right" width="25px"
      height="25px" alt="">
    <h1 class="example-app-name font-style" data-aos="fade-right">MIFOS</h1>
    <div id="toolbar-item">
      <button appToolbarItem mat-button [matMenuTriggerFor]="bell"> <img width="25px" height="25px" data-aos="fade-left"
          src="../assets/images/notification.png" alt=""> </button>
      <mat-menu #bell="matMenu" xPosition="before">
        <button mat-menu-item class="font-style">You have successfull registered</button>
        <button mat-menu-item class="font-style">Welcome to mifos initiative</button>
        <button mat-menu-item (click)="onNotificationComponent()" id="read-more" class="font-style">Read
          more...</button>
      </mat-menu>

      <button appToolbarItem mat-button [matMenuTriggerFor]="user"> <img width="25px" height="25px" data-aos="fade-left"
          src="../assets/images/person.png" alt=""> </button>
      <mat-menu #user="matMenu" xPosition="before">
        <button mat-menu-item (click)="onProfileComponent()" class="font-style">Profile</button>
        <button mat-menu-item (click)="logout()" class="font-style">Log Out</button>
      </mat-menu>


    </div>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-card id="profile-background">
        <img id="profile-picture"
        src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg">
        <p class="font-style welcome-text" data-aos="fade-up"> Welcome, {{username}} </p>
      </mat-card>
      <mat-nav-list>
        <div *ngFor="let item of sidenavContents">

          <a (click)="toggleForMobileScreens()" data-aos="fade-right" class="font-style" mat-list-item
            routerLink="{{item.link}}">
            <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
          </a>
          <mat-divider></mat-divider>

        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
