.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  mat-sidenav{
      width : 300px;
  }
  mat-icon{
      margin-right: 5px;
  }
  #profile-background{
      background-image: url('./../assets/images/toolbar.png');   
      background-size: cover;
      height: 28vh;
      color:white;
      font-weight: bold;
      font-size: 25px;
      border-radius: 0%
  }
  #header-background{
    font-weight: bolder;
    font-size: 25px;
    border-radius: 0%;
    background-color: #1E88E5;
    box-shadow: 0 4px 4px -4px gray;

}
  #profile-picture {
    border-radius: 50%;
    height: 100px;
    width:100px;
    align-content: center
  }

  #toolbar-item{
    margin-left: auto;
  }
  .shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  #read-more{
    color : #1E88E5;
    font-weight: bold;
  }