mat-card{
    width : 90%;
    display:block;
    margin:auto;
    margin-top : 100px;
}
img{
    width: 200px;
    height: 200px;
    display:block;
    margin:auto;
}
.mat-form-field{
    width: 70%;
    padding: 10px;
    display:block;
    margin:auto;
}
button{
  display:block;
  margin:auto;
  width: 70%;
  margin-top: 5px;
}
.cover {
    background-image: url('../../../assets/images/cover.png');
    background-size: cover;
    color: white;
    height: 650px;
    margin-top : -100px;
  }
