<div>
  <div>
  <mat-spinner *ngIf="loading" ></mat-spinner>
  </div>
  <div fxFlex="65%" fxLayout="column" class="cover" fxHide.xs>
    <div class="cover-content">
      <h1 class="md-display-1 cover-title">Online Banking</h1>
      <p class="md-headline">
        Online Banking is designed by the Mifos Initiative - a global community that aims to speed-up the elimination of poverty by enabling organizations to more effectively and efficiently deliver responsible financial services to the world’s poor and unbanked.
      </p>
    </div>
  </div>

  <div fxFlex="35%" fxLayout="column" class="login-container">
    <div>
      <img src="./assets/images/MifosX_logo.png" alt="mifos-logo"/>
    </div>
    <div class="mat-dialog-title login-text" style="text-align: center; margin-bottom: 20px;">
      Login to your account
    </div>
    <div style="width: 100%; padding: 0 15%; box-sizing: border-box;">
      <form fxLayout="column" #formDirective="ngForm" [formGroup]="loginForm" (ngSubmit)="login(formDirective)" id="login-form">

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Username</mat-label>
          <span matPrefix>
            <fa-icon icon="user-circle" size="lg"></fa-icon>&nbsp;&nbsp;
          </span>
          <input matInput type="text" autocomplete="off" formControlName="username" (input)="loginError = null">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Password</mat-label>
          <span matPrefix>
            <fa-icon icon="lock" size="lg"></fa-icon>&nbsp;&nbsp;
          </span>
          <input matInput type="{{ passwordInputType }}" formControlName="password" (input)="loginError = null">
        </mat-form-field>

        <div *ngIf="loginError" class="error-banner">
          <i class="fa fa-exclamation-circle"></i>
          <span>{{ loginError }}</span>
        </div>

        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="login-button login-text" type="submit">
          Login
        </button>

        <div fxLayoutAlign="center center" style="margin-top: 15px; text-align: center;">
          <a routerLink="/register" style="color: #4a90e2; text-decoration: none; font-weight: 500;">Don't have an account? Register here</a>
        </div>

        <button type="button" mat-button class="forgot-button" (click)="forgotPassword()">
          Forgot Password?
        </button>

      </form>
    </div>
  </div>

</div>
