<ngx-spinner bdOpacity=0.2 bdColor="rgba(0,0,0,0.08)" size="large" color="#0083e6" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> </p>
</ngx-spinner>
<div class="row main-body">
  <div class="col-md-9">
    <div class="cover">
      <div class="cover-body">
        <div class="cover-title font-style" data-aos='fade-left'>
          Self Service
        </div>
        <div class="cover-content font-style" data-aos='fade-right'>
          Self Service is designed by the Mifos Initiative -
          a global community that aims to speed-up the elimination of poverty by enabling organizations
          to more effectively and efficiently deliver responsible financial services to the world’s poor and unbanked.
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">


    <form #loginForm="ngForm" (ngSubmit)='login(loginForm)'>
      <mat-form-field class="language-container" class="font-style input-width-dropdown input-margin">
        <mat-select placeholder="Change Language" [(ngModel)]="selected" name="language">
          <mat-option class="font-style" value="english">English (Default)</mat-option>
          <mat-option class="font-style" value="hindi">Hindi</mat-option>
          <mat-option class="font-style" value="marathi">Marathi</mat-option>
        </mat-select>
      </mat-form-field>
      <img data-aos='flip-left' src="https://www.google-melange.com/archive/gci/2014/orgs/mifos/logo-200.png"
        alt="No Image found">
      <div  id="message">
        <p>Login to your account</p>
      </div>
      
      <mat-form-field class="font-style input-width input-margin">
        <input [formControl]="Username" [(ngModel)]="user.username" name="username" matInput placeholder="Username">
        <mat-error *ngIf="Username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="font-style input-width input-margin">
        <input [formControl]="Password" [(ngModel)]="user.password" name="password" type="password" matInput
          placeholder="Password">
        <mat-error *ngIf="Password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="font-style input-margin" type="submit" [disabled]="disabled" mat-raised-button id="login-color">LOGIN</button>
    </form>
    <button class="font-style forgot-password-button input-margin" mat-button (click)="onForgotPassword()">FORGOT PASSWORD</button>
    <button class="font-style new-user-button input-margin" mat-button  (click)="onSignUp()">NEW USER? CREATE AN ACCOUNT</button>

  </div>
</div>
