<!-- Application Shell -->
<mat-sidenav-container id="online-banking-shell-container" autosize>

  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    class="sidebar-panel"
    [ngClass]="{
      'sidebar-full': !sidenavCollapsed,
      'sidebar-compact': sidenavCollapsed
    }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false ">

    <online-banking-sidenav [sidenavCollapsed]="sidenavCollapsed"></online-banking-sidenav>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <!-- Toolbar -->
    <online-banking-toolbar [sidenav]="sidenav" (collapse)="toggleCollapse($event)"></online-banking-toolbar>

    <!-- Content -->
    <online-banking-content></online-banking-content>
    <!-- Footer -->

  </mat-sidenav-content>

</mat-sidenav-container>
