.accounts-bar {
  display: flex;
  flex-wrap: wrap;


  .account-item {
    flex-grow: 1;
    background-color: lightgray;
    margin: 1%;
  }

  .mat-card {
    height: 10rem;
    padding-top: 2rem;
  }

  .mat-card-title {
    display: flex;
    justify-content: center;
    font-size: medium;
  }

  .mat-card-content {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-weight: bolder;
    font-size: xx-large;
  }
}


.balance-summary {
  display: flex;
  flex-wrap: wrap;
}
.total-savings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
  flex-grow: 1;
  background-color: limegreen;
  margin: 1%;
}
.total-loan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
  flex-grow: 1;
  background-color: red;
  margin: 1%;
}
.left-text {
  float: left;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}
.right-text{
  float: right;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
.charts-container {
  display: flex;
  flex-wrap: wrap;

  .chart-item {
    flex-grow: 1;
    margin: 1%;
  }
  .mat-card {
    min-height: 20rem;
    min-width: 25rem;
    max-height: 20vh;
    max-width: 25vh;
  }
  .mat-card-title {
    display: flex;
    justify-content: center;
    font-size: medium;
  }
}
mat-spinner{
  position: absolute;
  color: red;
  z-index: 1031;
  top: 50%;
  left: 50%;
}

